.backdrop {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writingDiv {
    width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.topDiv {
    display: flex;
    flex-direction: row;
}

.topTitleInput {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    border: 0px;
    border-bottom: 2px black solid;
    padding-bottom:  5px;
}

.topTitleInput:focus {
    outline:none;
}

.topClose {
    font-size: 30px;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}

.editorDiv {
    margin: 10px 0px 0px 0px;
}

.katexGuide {
    font-size: 12px;
    font-style: italic;
}

.editor {
    
}

.bottomDiv {
    width: 740px;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
}

.bottomHashtagsDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    align-items: center;
}

.bottomHashtagIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0057FFAA;
    align-self: stretch;
}

.bottomHashtagIconText {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.bottomHashtagItemDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 7px 0px;
}

.bottomHashtagItem {
    border-radius: 8px;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
}

.bottomHashtagAdd {
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    border: 0px;
    background-color: rgba(100, 100, 100, 0.4);
    margin: 0px 7px 0px 0px;
}

.bottomHashtagAdd:focus {
    outline:none;
}

.bottonHashtagAddButton {
    font-size: 20px;
    padding: 3px;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.bottomCompleteDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    background-color: #568fff;
    padding: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    flex-shrink: 0;
}