
.topDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.topLogo {
    width: 200px;
    object-fit: contain;
    position: relative;
    top: 6px;
}

.topSearchIcon {
    width: 20px;
}

.topSearchInput {
    width: 100%;
    font-size: 20;
    font-weight: bold;
    border: 0px;
    margin: 0px 0px 3px 3px
}

.topSearchInput:focus {
    outline: none;
}

.topSearchBar {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 30vw;
    margin: 0px 20px 0px 20px;
    border-bottom: black 2px solid;
    padding-bottom: 5px;
}

.topWriteNewCard {
    width: 120px;
    height: 40px;
    border: 2px black solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topWriteNewCard:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor:pointer;
}


.topWriteNewCardText {
    font-size: 14px;
    font-weight: bold;
}

.topProfilePictureDiv {
    display: flex;
    flex-direction: row;
    height: 44px;
    margin: 0px 0px 0px 20px;
    align-items: center;
    cursor: pointer;
}

.topProfilePicture {
    width: 44px;
    padding-right: 10px;
}

.topProfilePictureName {
    font-size: 14px;
}

.topChatGPTDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 20px;
    height: 44px;
    cursor: pointer;
}

.topChatGPTLogo {
    height: 44px;
    padding-right: 10px;
}

.topChatGPTText {
    font-size: 14px;
}