.spinnerDiv {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.hashtagsDiv {
    width: 200px;
}

.hashtag {
    font-weight: bold;
}

.cardsDiv {
    display: flex;
    flex-direction: row;
    width: 950px;
    flex-wrap: wrap;
}